body {
  padding: 0;
  margin: 0;
  font: 14px Helvetica, Arial, Helvetica, Geneva, sans-serif;
  background: #DDD;
}

.AceEditor {
  margin: 10px;
}

.AceEditor.AceEditor--loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
